<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>page2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>
  <body style="background-image: url(static/crausal2.jpg)">
    <div class="container" style="color:lightblue;font-family:Times New Roman;">
      <div class="row">
        <div class="col-md-12  text-center">
          <h2 >ACKNOWLEDGEMENT</h2>
        </div>
        <div class="col-md-12">
          <p style="font-size:25px;text-align:justify;text-justify: inter-word; color:#000000;"><b>
            “The successful completion of any task would be incomplete without accomplishing people who made it all possible and whose constant guidance and encouragement secured us the succes."</p>
          <p style="font-size:25px;text-align:justify;text-justify: inter-word;color:#009999;">
          Weather forecasting is the prediction of the state of the atmosphere for a given location using the application of science and technology.
          This includes temperature, rain, cloudiness, wind speed, and humidity.
          This is the final Project of the Industrial training that we undertook
          at NIELIT Ropar/Chandigarh in colloboration with IIT Ropar. Technologies used
          in this field are Frontend: (HTML CSS BOOTSTRAP)  & Backend: (Python(Data Science
          , Machine Learning) Flask SQlite3). The Weather Forecast model is trained using Machine Learning.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Team</h2>
        </div>
        <div class="col-md-6 text-left">
          <li>DIWAKER PRASHAR</li>
          <p> GNDU Gurdaspur (B.Tech CSE sem 8th)</p><br>
          <li>HARSIMRANJIT SINGH MANN</li>
          <p> GNDU Gurdaspur (B.Tech CSE sem 8th)</p><br>
        </div>
        <div class="col-md-6 text-center">
          <li>ANITA BUDHIRAJA  (NIELIT ROPAR)</li><br>
          <li>SARWAN SINGH  (NIELIT ROPAR)</li>
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="col-sm-3 btn button-success text-center" name="button"><a href="/">Home</a></button>
        </div>

      </div>

    </div>
    <!--footer-->
    <footer class="page-footer bar">
      <div class="row">
        <div class="container text-center">
          <div class="row py-4 d-flex align-items-center">
            <div class="col-md-12"><br><br><br>
              <a href="https://github.com/Diwakerprashar"><i class="fab fa-github text-white mr-3"></i></a>
              <a href="https://www.instagram.com/prashar.diwaker/"><i class="fab fa-instagram text-white mr-3"></i></a>
              <a href="https://www.linkedin.com/in/diwaker-prashar-0009/"><i class="fab fa-linkedin-in text-white mr-3"></i></a>
              <a href="https://www.facebook.com/prashar.diwaker.50/r"><i class="fab fa-facebook text-white mr-3"></i></a>

            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
